<br>
<div class="basic-grey">
  
    <script>
        $.notify("<%= notice %>", "success");
    </script>

  <p id="notice"><%= notice %></p>

  <p>
    <strong><%= t('name') %>:</strong>
    <%= @contact.name %>
  </p>

  <p>
    <strong><%= t('email') %>:</strong>
    <%= @contact.email %>
  </p>

  <p>
    <strong><%= t('kind') %>:</strong>
    <%= @contact.kind.description %>
  </p>

  <p>
    <strong><%= t('rmk') %>:</strong>
    <%= @contact.rmk %>
  </p>

  <%= link_to "#{t('buttons.back')}", contacts_path, class: "btn btn-success" %>

</div>
