<!DOCTYPE html>
<html>
<head>
  <title>Notebook</title>
  <%= stylesheet_link_tag    'application' %>
  <%= stylesheet_link_tag    params[:controler] %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag  params[:controler] %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= yield %>

</body>
</html>
